.header-a {
    max-width: 100%;
    margin: auto;
}

.remainder {
    background-color: rgb(231 230 230);
    border-radius: 10px;
}

.priority-high {
    background-color: #FF9800;
    padding: 10px 10px 6px 10px;
    border-radius: 10px;
    cursor: pointer;
}

.priority-medium {
    background-color: #9ADE7B;
    padding: 10px 10px 6px 10px;
    border-radius: 10px;
    cursor: pointer;
}

.priority-low {
    background-color: #cfcfcb;
    padding: 10px 10px 6px 10px;
    border-radius: 10px;
    cursor: pointer;
}

.remainder-icon {
    cursor: pointer;
    vertical-align: text-bottom;
}

.lists {
    display: flex;
    justify-content: space-between;
}

.bg-light {
    background-color: rgb(231 230 230) !important;
}

.cancel-button {
    text-align: right;
    cursor: pointer;
}

.submit-button {
    width: 100%;
    margin: auto;
}

.remainder-icon {
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.ellipsis-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 200px;
}

.card-heading {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.card-title-container {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}

.icons-container {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
}